*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease;
}

nav{
    width: 100%;
    height: 70px;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
    position: relative;
    user-select: none;
}

.logo{
    font-size: 33px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.logo i{
    color: #ffa500;
}

nav ul li{
    margin: 0px 5px;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px ;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 8px 10px;
    border-radius: 7px;
    transition: all 0.4s ease;
}

nav ul li a:hover,nav ul li a.active{
    /* background-color: white; */
    color: #ffa500;
}

.menu-button{
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

#click{
    display: none;
}


/* Responsive section start header here */

@media (max-width:940px ){

    /* for logo */

    .logo{
        font-size: 20px;
        margin-left: -70px;
        width: 200px;
    }

    .logo i{
        font-size: 20px;
    }

    nav{
        height: 60px;
    }

    nav .menu-button i{
        display: block;
    }

    #click:checked ~ .menu-button i:before{
        contain: "\00d7";
    }
    nav ul{
        position: fixed;
        z-index: 3;
        top: 60px;
        left: -100%;
        background-color: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.4s ease;
    }

    #click:checked ~ ul{
        left: 0%;
    }

    nav ul li{
        margin: 40px 0;
    }

    nav ul li a{
        font-size: 20px;
        display: block;
    }
    nav ul li a:hover,nav ul li a.active{
        background: none;
        color: cyan;
    }
    .menu-button{
        color: white;
        font-size: 18px;
        cursor: pointer;
        display: block;
    }
    
}

/* header section end here */

/* ****************main content starts here*********************************** */
/* dark mode */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


body.dark {background-color: #292c35;} /* #9b59b6 */

body.dark h1, body.dark .support a {color: #fff;}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  position: relative;
  margin-left: -3px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}


/*  Support me if you like it */
.support {
	position: absolute;
	right: 20px;
	bottom: 20px;
  z-index: 1;
  position: fixed;
}

.support a {
  color: #292c35;
  font-size: 32px;
  backface-visibility: hidden;
  display: inline-block;
  transition: transform 0.2s ease;
  margin-top: 3px;
}

.support a:hover{
  transform: scale(1.1);
}
/* dark mode end */
  /******************************** main content start here********************** */
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
  * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Nunito", sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #002733;
  }
  
  .orange {
    color: #FF7A01;
  }
  
  .montserrat {
    font-family: "Montserrat", sans-serif;
  }
  
  img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .container {
    max-width: 1300px;
    margin: 0px auto 0px auto;
    padding: 0px 40px;
  }
  @media (min-width: 1200px) and (max-width: 1441px) {
    .container {
      max-width: 1250px;
      padding: 0px 36px;
    }
  }
  @media (max-width: 767px) {
    .container {
      padding: 0px 30px;
    }
  }
  @media (max-width: 479px) {
    .container {
      padding: 0px 30px 0px 20px;
    }
    .footer-basic{
      position: absolute;
      top: 150px;
      margin-top: 450px;
      z-index: 5;
    }
  }
  
  #about-me {
    position: absolute;
    top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .about-me .about-me-container {
    position: relative;
  }
  @media (max-width: 960px) {
    .about-me .about-me-container {
      padding-bottom: 100px;
    }
  }
  .about-me .about-me-container .about-me-title {
    font-size: 55px;
    color: #87A4B6;
    font-weight: 700;
  }
  @media (max-width: 500px) {
    .about-me .about-me-container .about-me-title {
      font-size: 30px;
    }
  }
  
  .about-me-flex-container {
    margin-top: -25px;
    margin-left: 150px;
    left: 100px;
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 960px) {
    .about-me-flex-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 0px;
      gap: 50px;

    }
    
  }
  @media (max-width: 500px) {
    .about-me-flex-container {
      margin-top: -10px;
    }
  }
  .about-me-flex-container .about-me-image {
    position: relative;
    width: 400px;
    height: 400px;
  }
  @media (max-width: 500px) {
    .about-me-flex-container .about-me-image {
      width: 300px;
      height: 300px;
    }
  }
  .about-me-flex-container .about-me-image .back-div {
    position: absolute;
    bottom: 0;
    z-index: -3;
    background-color: #013747;
    width: 80%;
    height: 80%;
  }
  .about-me-flex-container .about-me-image .black-image {
    z-index: -2;
    position: absolute;
    left: 15px;
    bottom: 10px;
    height: 100%;
  }
  .about-me-flex-container .about-me-image .black-image img {
    height: 100%;
  }
  .about-me-flex-container .about-me-image .main-image {
    width: 70%;
    height: 60%;
    overflow: hidden;
    position: absolute;
    left: 25%;
    top: 5%;
    box-shadow: rgb(0, 0, 0) 0px 7px 50px 0px;
    transition: all 0.2s ease-out;
  }
  .about-me-flex-container .about-me-image .main-image:hover {
    transform-origin: top center;
    transform: scale(1.5);
    border-radius: 25px;
  }
  .about-me-flex-container .about-me-image .main-image img {
    transform-origin: center center;
    transform: scale(2);
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 0.2s ease-out;
  }
  .about-me-flex-container .about-me-image .main-image img:hover {
    transform: scale(1);
  }
  .about-me-flex-container .about-me-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    flex: 0 0 40%;
  }
  @media (max-width: 960px) {
    .about-me-flex-container .about-me-content {
      flex-direction: row-reverse;
    }
    
  }
  .about-me-flex-container .about-me-content .logo {
    max-width: 80px;
    border-radius: 50px;
    
  }
  .about-me-flex-container .about-me-content .logo img {
    filter: drop-shadow(0 0 25px rgb(0, 0, 0));
  }
  @media (max-width: 500px) {
    .about-me-flex-container .about-me-content .logo img {
      transform: rotateZ(90deg);
      
      border-radius: 50px;
    }
  }
  .about-me-flex-container .about-me-content .text {
    color: #87A4B6;
    font-weight: 600;
    font-size: 18px;
  }
  @media (max-width: 500px) {
    .about-me-flex-container .about-me-content .text {
      font-size: 16px;
    }
  }
  
  
  
  .mail-button {
    display: flex;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 15px;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-out;
  }
  .mail-button a {
    display: flex;
  }
  .mail-button img {
    -o-object-fit: contain;
       object-fit: contain;
    transition: all 0.2s ease-out;
  }
  
  
  .mail-button2 {
    background-color: #001925;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 10px solid #001925;
  }
  .mail-button2 img {
    filter: invert(56%) sepia(42%) saturate(4795%) hue-rotate(360deg) brightness(103%) contrast(105%);
  }
  .mail-button2:hover {
    background-color: #FF7A01;
    border: 10px solid #FF7A01;
  }
  .mail-button2:hover img {
    filter: unset;
    transform: scale(1.5);
  }
  
  .portfolio-link {
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .portfolio-link a{
    text-decoration: none;
    color: white;
  
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }

  /******************************** main content end here********************** */


/* ****************main content starts here*********************************** */


.footer-basic {
  padding:40px 0;
  background-color:#1b1b1b !important;
  color:white;
  z-index: 5 !important;
  margin-top: 650px;
  
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
  display: inline-block;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:40px;
  text-align:center;
  font-size:18px;
  color:#aaa;
  margin-bottom:0;
}